<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Anime API</title>
</head>
<body>
    <main>
        <h1>Anime API</h1>
        <nav>
            <ul>
                <li><a target="_blank" href="https://anime-api-r.herokuapp.com/animeapi">API >></a></li>
                <a href="#"><p class="how">How to consume</p></a>
                <li><a target="_blank" href="https://github.com/RianVitor26">Github</a></li>
                <li><a target="_blank"  href="https://www.linkedin.com/in/rian-vitor-a036aa202/">Linkedin</a></li>
            </ul>
        </nav>
        <img src="/welcome.svg" alt="Welcome message">
    </main>
    <div class="help">
        <p>URL: "https://anime-api-r.herokuapp.com/animeapi"</p>
        <p>Request: Fetch url</p>
        <p>Handle: Array methods and objects</p>
    </div>
</body>

<script>
    const how = document.querySelector('.how')
    const help = document.querySelector('.help')
    
    how.addEventListener('mouseover', () =>{
        help.classList.add('hover')
        setTimeout(() => {
            help.classList.remove('hover')
        }, 7000)
    })
</script>
</html>